@model MessageViewModel
<div class="container p-3 w-50">
    <h1 class="display-4 text-primary">Gelen Mesaj</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="text-danger" asp-for="FromName"></label>
                <label>@Model.FromName</label>
            </div>
            <div class="form-group">
                <label class="text-danger" asp-for="Text"></label>
                <label>@Model.Text</label>
            </div>

            <div class="form-group">
                <label class="text-danger" asp-for="SendingDate"></label>
                <label>@Model.SendingDate</label>
            </div>
            <a asp-area="" asp-controller="Message" asp-action="Index" class="btn btn-primary btn-sm">Geri Dön</a>
        </div>
        <div class="col-md-6">
            <form asp-area="" asp-controller="Message" asp-action="NewMessage" method="post">
                <input type="hidden" value="@Model.FromId" name="ToId" />
                <input type="hidden" value="@Model.Id" name="RelatedId" />
                <div class="form-group mb-2">
                    <label asp-for="ReplyText"></label>
                    <textarea class="form-control" rows="4" asp-for="ReplyText"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Yanıtla</button>
            </form>
        </div>
        </div>
    </div>

</div>