@model MessageViewModel

<div class="container w-50 p-3">

    <h1 class="display-4 text-primary">Gelen Mesaj</h1>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FromName"></label>
                <label >@Model.FromName</label>
            </div>

            <div class="form-group">

                <label asp-for="Text"></label>
                <label >@Model.Text</label>
            </div>

            <div class="form-group">
                <label asp-for="SendTime"></label>
                <label >@Model.SendTime</label>
            </div>
        </div>
        <div class="col-md-6">
            <form asp-controller="Message" asp-action="NewMessage">
                <input value="@Model.FromId" name="ToId" type="hidden">
                <input value="@Model.Id" name="RelatedId" type="hidden">
                <div class="form-group mb-2">

                    <label class="" asp-for="ReplyText"></label>
                    <textarea class="form-control" asp-for="ReplyText"></textarea>
                </div>
                <button type="submit" class="btn btn-warning btn-sm">Yanıtla</button>
            </form>
        </div>
    </div>


    <div class="">
        <a asp-controller="Message" asp-action="Index" class="btn btn-warning btn-sm">Geri Dön</a>
    </div>
</div>