@model List<ProductViewModel>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#entityTable').DataTable();
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-6 text-primary">Ürünler</h1>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success float-end">Ürün Ekle</button>
        </div>
    </div>
    <table id="entityTable" class="table">
        <thead>
            <tr>
                <th>Resim</th>
                <th>Id</th>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@p.ImageUrl" width="35" height="70" />
                    </td>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td width="120">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id"
                            class="btn btn-warning btn-sm">Düzenle</a>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id"
                            class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
